body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #111827;
  color: #fff;
}

.footer {
  background-color: #111827;
  padding: 50px 20px;
}


.footer-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}

.footer-logo .logo-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

.logo-icon {
  /* background: linear-gradient(to right, #2563EB, #00C853); */
  background-image: linear-gradient( 135deg, #0095ff 10%, #72c3fd 100%);
  padding: 10px;
  border-radius: 10px;
  font-size: 18px;
}

.logo-title {
  color: #60A5FA;
  font-size: 20px;
  font-weight: bold;
}

.logo-highlight {
  font-size: 20px;
  font-weight: 500;
  font-weight: bold;
  color: #60A5FA;
  margin-left: 5px;
}

.description {
  color: #d1d5db;
  margin-bottom: 15px;
  max-width: 400px;
}

.social-icons {
  display: flex;
  gap: 10px;
}

.social-icons .icon {
  color: #9CA3AF;
  text-decoration: none;
  font-size: 18px;
  transition: all 0.3s ease-in-out;
  transform: translateY(0);
}
.social-icons .icon:hover {
  transform: translateY(-3px);
}

.social-icons .icon:hover {
  color: #60A5FA;
}

.footer-links h3,
.footer-contact h3 {
  font-size: 16px;
  font-weight: bold;
  color: #60A5FA;
  margin-bottom: 10px;
}

.footer-links ul,
.footer-contact ul {
  list-style: none;
  padding: 0;
}

.footer-links ul li,
.footer-contact ul li {
  margin-bottom: 8px;
}

.footer-links ul li a {
  color: #d1d5db;
  text-decoration: none;
  transition: color 0.2s ease;
}

.footer-links ul li a:hover {
  color: #fff;
}

.footer-contact ul li {
  color: #d1d5db;
  font-size: 14px;
}

.footer-bottom {
  border-top: 1px solid #1F2937;
  margin-top: 40px;
  padding-top: 20px;
  text-align: center;
  color: #9CA3AF;
  font-size: 14px;
}

/* Responsive */
@media (max-width: 768px) {
  .footer-grid {
    grid-template-columns: 1fr;
    gap: 30px;
  }
}