body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.header {
  position: sticky;
  top: 0;
  z-index: 50;
  background-color: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(9px);
  border-bottom: 1px solid #e5e7eb;
  box-shadow: 0 2px 4px rgba(0,0,0,0.04);
  border-radius: 0 0 20px 20px;
  width: 100%;
}

#headerContainer {
  max-width: 100vw;
  margin: 0;
  padding: 20px 35px;
}

.navbar{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.brand {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}

.icon-bg {
  /* background: linear-gradient(to right, #2563EB, #00C853); */
  background-image: linear-gradient( 135deg, #0095ff 10%, #72c3fd 100%);
  padding: 8px;
  border-radius: 10px;
  font-size: 16px;
  color: white;
}

.brand-text {
  display: flex;
  flex-direction: column;
}

.brand-main {
  font-size: 18px;
  font-weight: bold;
  color: #111827;
}

.brand-sub {
  font-size: 20px;
  color: #60A5FA;
  font-weight: 700;
}

.nav-desktop {
  display: flex;
  gap: 10px;
}



.nav-link:hover {
  background-color: #f3f4f6;
  /* color: #2563EB; */
}

.nav-link.active {
  background-color: #00a6ff85;
  /* color: #1d4ed8; */
  font-weight: 600;

  /* background-color: #5eacff60; your blue */
  color: white;
  border-radius: 6px;
  transition: all 0.5s ease;
}

.nav-link {
  border-radius: 6px;
  font-size: 14px;
  transition: background 0.2s, color 0.2s;
  text-decoration: none;
  padding: 8px 15px;
  color: #333;

  position: relative;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s ease, color 0.3s ease;
  
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  text-align: center;
}

.nav-icon {
  font-size: 20px;
  margin-bottom: 4px;
}

.nav-label {
  font-size: 13px;
  font-weight: 500;
}

.nav-link.active .nav-label {
  /* color: #007bff; */
  color: #333;
}


.menu-toggle {
  display: none;
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
  color: #374151;
}

.nav-mobile {
  display: none;
  flex-direction: column;
  gap: 5px;
  padding: 10px 0;
  color: #333;
}

.nav-mobile.show {
  display: flex;
}

/* Responsive */
@media (max-width: 1050px) {
  .nav-desktop {
    display: none;
  }

  .menu-toggle {
    display: block;
  }
}